<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <% csspath.forEach((css)=> { %>
  <link href="<%= css %>" rel="stylesheet" />
  <% }) %>

  <title>Hello APP</title>
</head>
