<!DOCTYPE html>
<html lang="ja">
  <%- include("head") %>
  <body>
    <%- include("header") %>
    <button id="mybtn" type="button" class="btn btn-primary">Primary</button>
    <script type="module" src="<%= jspath %>"></script>
  </body>
</html>
